@{ 
    ViewBag.Title = "Cart";
}

<div class="cart-items">
    @if (Model != null)
    {
        for (int i = 0; i < Model.Length; i++)
        {
            <div class="item">
                <div class="item-info">
                    <div class="title">@Model.ProductViewModels[i].Name</div>
                    @if (Model.ProductViewModels[i].SalePrice == "")
                    {
                        <div class="cost">Price: $@Model.ProductViewModels[i].Price</div>
                    }
                    else
                    {
                        <div class="cost">Price: <span class="struck-price">$@Model.ProductViewModels[i].Price</span> $@Model.ProductViewModels[i].SalePrice</div>
                    }

                    <div class="quantity">
                        <div class="quantity-info">Quantity</div>
                        <div class="quantity-input" ><input type="text" value="@Model.Quantity[i]" id="quantity" /></div>
                        <div class="update-quantity"><input type="button" value="Update" id="updateCart"></div>
                        @if (Model.ProductViewModels[i].SalePrice == "")
                        {
                            <div class="quantity-total">Total: $@(Decimal.Parse(Model.ProductViewModels[i].Price) * (decimal)@Model.Quantity[i])</div>
                        }
                        else
                        {
                            <div class="quantity-total">Total: $@(Decimal.Parse(Model.ProductViewModels[i].SalePrice) * (decimal)@Model.Quantity[i])</div>
                        }
                    </div>
                </div>
                <div class="remove-button" id="removeCart"><input type="button" value="Remove"></div>
                <div class="images">
                    <div class="box-art"><img src="@Model.ProductViewModels[i].ImageUrl" alt="@Model.ProductViewModels[i].Name"></div>
                    <div class="caboose"><img src="/Content/Images/caboose.png" alt="Caboose"></div>
                </div>
                <span id="cartProductId" hidden>@Model.ProductViewModels[i].ID</span>
            </div>
        }
    }
</div>

<!--Totals-->
<div class="totals">
@if (Model != null)
{
    if (Model.Length > 0)
    {
    <div class="labels">
        <div class="raw-total">Total:</div>
        <div class="tax">Tax:</div>
        <div class="delivery">Shipping:</div>
        <div class="grand-total">Grand Total:</div>
    </div>
        if (Model.ProductViewModels[0].SalePrice == "")
        {
            <div class="prices">
                <div class="raw-total">$@(Decimal.Parse(Model.ProductViewModels[0].Price) * (decimal)@Model.Quantity[0])</div>
                <div class="tax">$@(Decimal.Parse(Model.ProductViewModels[0].Price) * (decimal)@Model.Quantity[0] * (decimal)0.07)</div>
                <div class="delivery">$15.00</div>
                <div class="grand-total">$@((Decimal.Parse(Model.ProductViewModels[0].Price) * (decimal)@Model.Quantity[0]) + (Decimal.Parse(Model.ProductViewModels[0].Price) * (decimal)@Model.Quantity[0] * (decimal)0.07) + 15)</div>
            </div>
        }
        else
        {
            <div class="prices">
                <div class="raw-total">$@(Decimal.Parse(Model.ProductViewModels[0].SalePrice) * (decimal)@Model.Quantity[0])</div>
                <div class="tax">$@(Decimal.Parse(Model.ProductViewModels[0].SalePrice) * (decimal)@Model.Quantity[0] * (decimal)0.07)</div>
                <div class="delivery">$15.00</div>
                <div class="grand-total">$@((Decimal.Parse(Model.ProductViewModels[0].SalePrice) * (decimal)@Model.Quantity[0]) + (Decimal.Parse(Model.ProductViewModels[0].SalePrice) * (decimal)@Model.Quantity[0] * (decimal)0.07) + 15)</div>
            </div>
        }

        <div class="checkout"><input type="button" value="Check Out"></div>
    }
}
    
    
</div>	